CONFIG_MAIN_LED_GPIO=13
CONFIG_FAN1_ENABLED=y
CONFIG_FAN1_MAX_ROTATION_SPEED=7200
CONFIG_FAN1_EN_ENABLED=y
CONFIG_FAN1_EN_GPIO=5
CONFIG_FAN1_EN_ACTIVE=y
CONFIG_FAN1_PWM_ENABLED=y
CONFIG_FAN1_PWM_GPIO=18
CONFIG_FAN1_TACHO_PULSE_PER_ROUND=2
CONFIG_FAN1_TACHO_GPIO=19

